<div class='header'>
	<h3><span data-bind="html: Name"></span> - Points: <span data-bind="html: Points"></span></h3>
</div>

<div id="map_canvas" style="width:320px; height:350px"></div>

<div data-bind="visible: NearbyPlayers().length>0">
	<h3>Nearby Players</h3>
	<ul data-bind="foreach: NearbyPlayers">
		<li>
			<span data-bind="html: Name"></span>
		</li>
	</ul>
</div>

<button data-bind="click: Logout">
	Logout
</button>
<button data-bind="click: ToggleShowLocation">
	Show/Hide Location (Debug Only)
</button>

<div data-bind="visible: ShowLocation">
	<h3>Location</h3>
	x:
	<input data-bind="value: X"/>
	, y:
	<input data-bind='value: Y'/>
	<button data-bind="click: SetLocation">
		Set
	</button>
</div>